body {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.App {
    padding: 30px;
}

.cross-row-1 {
    display: flex;
}
.cross-area {
    border: 2px solid #000;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cross-top {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid #000;
    border-bottom: none;
}

.cross-top-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    border-right: 1px solid #818181;
}

.cross-top-row:nth-child(5n) {
    border-right: 2px solid #818181;
}

.cross-top-row:last-child {
    border-right: none;
}

.cross-top-elem {
    border-bottom: 1px solid #818181;
    position: relative;
}

.cross-top-elem:last-child {
    border-bottom: none
}

.cross-row {
    display: flex;
    border-bottom: 1px solid #8f8f8f;
}

.cross-row:nth-child(5n) {
    border-bottom: 2px solid #8f8f8f;
}

.cross-row:last-child {
    border-bottom: none;
}

.cross-elem {
    border-right: 1px solid #8f8f8f;
    cursor:pointer;
}

.cross-elem:nth-child(5n) {
    border-right: 2px solid #8f8f8f;
}

.cross-elem:last-child {
    border-right: none;
}

.cross-left {
    border: 2px solid #000;
    border-right: none;
}

.cross-left-row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #818181;
    background-color: #fff;
}

.cross-left-row:nth-child(5n) {
    border-bottom: 2px solid #818181;
}

.cross-left-row:last-child {
    border-bottom: none;
}

.cross-left-elem{
    border-right: 1px solid #818181;
    text-align: center;
    position: relative;
}

.cross-left-elem:last-child{
    border-right: none;
}

.cross-label {
    border: 2px solid #000;
    border-right: none;
    border-bottom: none;
    background-color: #f1f1f1;
}

.select-colors {
    display: flex;
}

.select-color-elements {
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 0 15px 20px 0;
    border: 1px solid #fff;
    outline: 2px solid #000;
    transition: all 0.3s ease;
}

.select-color-elements.color-now {
    transform: scale(1.2);
}

.select-color-elements.color-now:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 25%;
    background: rgba(255, 255, 255, 0.6);
    top: 0;
    left: 0;
    transform: translateX(-220%)  skewX(-30deg);
    animation: stars 0.3s ease-in-out;
}

@keyframes stars {
    0%{
        transform: translateX(-220%)  skewX(-30deg);
    }
    100% {
        transform: translateX(700%)  skewX(-30deg);
    }
}

.cross-top-elem-more:after, .cross-left-elem-more:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.3;
}