body {
    background: #e7e7e7;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.cross-row-1 {
    display: flex;
}
.cross-area {
    border: 2px solid #000;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cross-top {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid #000;
    border-bottom: none;
}

.cross-top-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    border-right: 1px solid #818181;
}

.cross-top-row:nth-child(5n) {
    border-right: 2px solid #818181;
}

.cross-top-row:last-child {
    border-right: none;
}

.cross-top-elem {
    border-bottom: 1px solid #818181;
}

.cross-top-elem:last-child {
    border-bottom: none
}

.cross-row {
    display: flex;
    border-bottom: 1px solid #8f8f8f;
}

.cross-row:nth-child(5n) {
    border-bottom: 2px solid #8f8f8f;
}

.cross-row:last-child {
    border-bottom: none;
}

.cross-elem {
    border-right: 1px solid #8f8f8f;
    cursor:pointer;
}

.cross-elem:nth-child(5n) {
    border-right: 2px solid #8f8f8f;
}

.cross-elem:last-child {
    border-right: none;
}

.cross-left {
    border: 2px solid #000;
    border-right: none;
}

.cross-left-row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #818181;
    background-color: #fff;
}

.cross-left-row:nth-child(5n) {
    border-bottom: 2px solid #818181;
}

.cross-left-row:last-child {
    border-bottom: none;
}

.cross-left-elem{
    border-right: 1px solid #818181;
    text-align: center;
}

.cross-left-elem:last-child{
    border-right: none;
}

.cross-label {
    border: 2px solid #000;
    border-right: none;
    border-bottom: none;
    background-color: #f1f1f1;
}